@import "~js-datepicker/dist/datepicker.min.css";
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

html {
  font-family: "Oxygen", sans-serif;
  background-color: black;
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 1rem;
  background-color: #21202a;
  border-radius: 0.5rem;
  margin: 0.3rem;
}

#heading{
  margin-left: 1rem;

}

.contents {
  display: flex;
}

.menu {
  height: 88vh;
  background-color: #21202a;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0 0.3rem;
  min-width: 10rem;
  max-width: 18vw;

}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0.25rem;
}

.project-btn,
.delete-project,
.filler-button,
#add-project-box,
.usr-projects {
  margin: 0;
  padding: 0;
  border-style: none;
  background: none;
  color: #fefeff;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 0;
}

.project-btn {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;

  width: inherit;
  overflow-wrap: break-word;
  min-width: 7rem;
  max-width: 10rem;

}

#add-project-box {
  border-bottom: 1px solid #8b8b8b;
  width: 100%;
}

#add-project-box:focus,
textarea:focus,
select:focus {
  outline: none;
}

.project:hover {
  margin: -1px;
  border: 1px solid #515153;
  background-color: #35343b;

}

#add-to-do:hover,
#submit:hover,
#cancel:hover {
  border: 1px solid #515153;
  background-color: #35343b;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  margin: 0 auto;
}

.project {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  border-radius: 0.5rem;

}

.home-project {
  width: 100%;
}

.usr-projects {
  overflow-wrap: break-word;
  margin: 0 auto 0 1.8rem;
  width: 100%;
}

#projects-arrow {
  position: absolute;
  padding: 1rem;
  margin-left: -2rem;
  margin-top: -0.75rem;
}

.home-btn {
  text-align: center;
}

.delete-project {
  display: none;
  border: 1px solid cadetblue;
  border-radius: 100%;
  padding: 1px 7px;
  padding-bottom: 4px;
  margin-right: 0.5rem;
  
}

.delete-project:hover,
.delete-todo:hover {
  background-color: cadetblue;
  color: #21202a;
}

.filler-button {
  display: block;
  width: 1.5rem;
}

.project:hover > .delete-project {
  display: block;
}

.project:hover > .filler-button {
  display: none;
}

.active-project {
  background-color: #35343b;
}

.todo {
  border-radius: 1.5rem;
  background-color: #21202a;
  padding: 1rem;
  margin: 1rem 0 -1rem 1rem;
  width: 50vw;
}

[priority=high]{
  border-left: 3px solid rgb(120, 0, 0);
  border-right: 3px solid rgb(120, 0, 0);
}

[priority=low]{
  border-left: 3px solid rgb(0, 120, 0);
  border-right: 3px solid rgb(0, 120, 0);
}

[priority=medium]{
  border-left: 3px solid rgb(0, 0, 120);
  border-right: 3px solid rgb(0, 0, 120);
}

.todo-header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.arrow {
  margin-top: -0.7rem;
}

.arrow::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-left-color: gray;
  transform-origin: 0 50%;
  transition: transform 0.25s;
}

.arrow.down::before {
  margin-top: -5px;
  transform: rotate(90deg);
  transition: transform 0.25s;
  
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: auto;
  word-wrap: break-word;
  min-width: 5rem;
}

.dueDate2 {
  text-align: right;
}

.delete-todo {
  background: none;
  color: white;
  border: none;
  font: inherit;
  font-size: small;
  padding-bottom: 0.2rem;
  padding-right: 0.4rem;
  border: 1px solid gray;
  border-radius: 100%;
  height: 1.5rem;
}

.description{
  margin: 1rem 0;
  overflow-wrap: break-word;
}

.priority{
  margin: 1rem 0 0 0;
}

.hidden {
  display: none;
}

#add-to-do {
  right: 3rem;
  top: 6rem;
  text-align: center;

  color: white;
  background-color: #21202a;
  border: none;
  font: inherit;
  font-weight: 600;
  font-size: medium;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
}

.modal {
  display: none;
  top: 0;
  left: 0;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13rem;
  margin-left: -7.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: large;
  font-weight: 600;

  background-color: #21202a;

  border-radius: 1rem;
  border: 2px solid #35343b;

  height: 26rem;
  width: 15rem;
  padding: 20px;
}

.modal-textbox{
  border: none;
  margin: 0.5rem 0;

  height: 1.25rem;
  padding: 0.5rem;

  font-size: 1rem;
  color: white;
  background-color: #21202a;

  border: 2px solid #35343b;
}

.radio-btn{
  display: flex;
  justify-content: space-around;
  font-size: medium;
  margin: 0.5rem;
}

.submit-cancel-btn {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.blur{
  filter: blur(8px);
}

#submit,
#cancel{
  color: white;
  background-color: #21202a;
  border: none;
  font: inherit;
  font-weight: 600;
  font-size: medium;
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  border-radius: 1rem;
}