@import "~js-datepicker/dist/datepicker.min.css";
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

html {
  font-family: "Oxygen", sans-serif;
  background-color: black;
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

header {
  font-size: 2.5rem;
  padding: 1rem;
  background-color: #21202a;
  border-bottom: 2px solid black;
}

.contents {
  display: flex;
  /* border: 2vh solid black; */
  /* justify-content: space-between; */
}

.menu {
  /* padding: 1rem; */
  /* width: 20vw; */
  min-width: max-content;
  height: 91vh;
  background-color: #21202a;
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  list-style: none;
  margin: 0;
  padding: 0;
  width: 25vw;
  min-width: max-content;

  /* gap: 0.5rem; */
}

.project-btn,
.delete-project,
.filler-button,
#add-project-box,
.usr-projects {
  margin: 0;
  padding: 0;

  border-style: none;

  background: none;
  color: #fefeff;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  font-size: 1rem;

  padding: 0.5rem 0;
  /* width: max-content; */
}

.project-btn {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

#add-project-box {
  border-bottom: 1px solid #8b8b8b;
  padding: 0.5rem;
  width: 15vw;
}

#add-project-box:focus,
textarea:focus,
select:focus {
  outline: none;
}

.project:hover {
  background-color: #262632;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  margin: 0 auto;
}

.project {
  display: flex;
  justify-content: space-between;
  overflow-wrap: break-word;
  width: 100%;
}

.home-project {
  width: 100%;
}

#projects-arrow {
  /* margin-right: 1rem; */
}

.usr-projects {
  overflow-wrap: break-word;
  margin: 0 auto 0 1.8rem;
  /* padding-left: 35px; */
}

#projects-arrow {
  position: absolute;
  /* margin-right: 1rem; */
  /* border: 2px solid white; */
  /* padding-right: 15px; */
  padding: 15px;
  margin-left: -2rem;
  margin-top: -0.75rem;
}

.home-btn {
  text-align: center;
  width: 20vw;
  min-width: max-content;
  /* padding-left: 18px; */
}

.delete-project {
  display: none;
  /* background-color:cadetblue; */
  width: 1rem;
  margin-right: 7px;
  padding: 0 7px;
  border-left: 1px solid #8b8b8b;
}

.filler-button {
  display: block;
  width: 1rem;
  margin-right: 7px;
  padding: 0 7px;
}

.project:hover > .delete-project {
  display: block;
}

.project:hover > .filler-button {
  display: none;
}

.active-project {
  background-color: cadetblue;
}

.todo {
  border: 1px solid white;
  padding: 1rem;
  margin: 1rem 0 -1rem 1rem;
  width: 50vw;
}

.todo-header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.arrow {
  margin-top: -0.7rem;
}

.arrow::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-left-color: gray;
  transform-origin: 0 50%;
  transition: transform 0.25s;
}

.arrow.down::before {
  transform: rotate(90deg);
  transition: transform 0.25s;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
  margin-right: auto;
  word-wrap: break-word;
  min-width: 5rem;
}

.dueDate2 {
  text-align: right;
}

.delete-todo {
  background: none;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  font-size: small;
  cursor: pointer;
  outline: inherit;
  width: 1rem;
}

.hidden {
  display: none;
}

#add-to-do {
  position: absolute;
  right: 3rem;
  top: 3rem;
  text-align: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20rem;
  left: 20rem;

  background-color: blue;
  border: 2px solid white;

  height: 17rem;
  width: 12rem;

  padding: 20px;

  opacity: 1;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.75;
}

.submit-cancel-btn {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
